footer {
  border-top: 1px solid var(--dourado);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 1.2em;

  span {
    font-weight: bold;
    color: var(--dourado);
  }
}